{% extends "base.html" %}

{% block title %} Projetos | Portfolio - Rei Jardim {% endblock %}

{% block content %}
    <section>
        <h1>
            Meus projetos
        </h1>
        <p>
            Aqui estão alguns dos projetos que desenvolvi:
        </p>

        <ul>
            {% for key, infos  in projetos.items %}
                <li> <a href="{% url 'detalhes_projeto' id_projeto=key %}">{{infos.titulo}} </a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}